<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
    <targets>
        <target name="logger"
                xsi:type="File"
                lineEnding="CRLF"
                layout="[${longdate}] [${uppercase:${level:padding=5}}] ${message} - ${callsite}() ${exception:format=tostring}" 
                fileName="${basedir}/log/${shortdate}.log" 
                />
    </targets>
    <rules>
        <logger name="*"
                minlevel="Debug"
                writeTo="logger"/>
    </rules>
</nlog> 